
Ass4/A4/galsim
Ass4/A4/galsim.o
Ass4/A4/graphics.o
Ass4/A4/result.gal
Ass4/.DS_Store
.DS_Store
.DS_Store
Ass4/A4/galsim
Ass4/A4/galsim
*.o
Ass4/A4/graphics.o
Ass4/A4/galsim.o
Ass5/A5/analysis.txt
Ass5/A5/galsim
Ass5/A5/galsimA4.c
Ass5/A5/out.pdf
Ass5/out.pdf
